<li class="subcategory_<%= content.subcategory_id %>">
		<%= link_to reflect_content_path(content) ,remote: true, class: 'lsls' do %>
		<button class="btn btn-content">
			<%= content.japanese %>
	</button>
	<% end %>
<!-- 		<%= content.japanese %>
 --><!-- 		<ul class="compose_2"><%= content.english %></ul>
 --><!--   <%= content.japanese %> -->
<!--   <%= content.english %></br><%= content.japanese %> -->
</li>

