<div class="bs-docs-section">
  <div class="row">
    <div class="span6 offset3">   

      <%= form_for @user , html: { multipart: true} do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <div class="col-lg-6">
        <div class="well bs-component">
          <form class="form-horizontal">
            <fieldset>
              <legend>ユーザー登録</legend>
              <div class="form-group">
                <%= f.label "ユーザーネーム" , class: "col-lg-2 control-label" %>
                <div class="col-lg-10">
                  <%= f.text_field :name, class: "form-control", id: "inputName", placeholder: "Name" %>
                </div>
              </div>
              <div class="form-group">
                <%= f.label "メールアドレス" , class: "col-lg-2 control-label" %>
                <div class="col-lg-10">
                  <%= f.text_field :email, class: "form-control", id: "inputEmail", placeholder: "Email" %>
                </div>
              </div>
              <div class="form-group">
                <%= f.label "パスワード" , class: "col-lg-2 control-label" %>
                <div class="col-lg-10">
                  <%= f.password_field :password, class: "form-control", id: "inputPassword", placeholder: "Password" %>
                </div>
              </div>
              <div class="form-group">
                <%= f.label "パスワード確認" , class: "col-lg-2 control-label" %>
                <div class="col-lg-10">
                  <%= f.password_field :password_confirmation, class: "form-control", id: "inputPassword_confirmation", placeholder: "Password_confirmation" %>
                </div>
              </div>
              <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                  <%= f.submit "登録", class: "btn btn-primary" %>
                </div>
              </div>
            </fieldset>
          </form>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

