<%= stylesheet_link_tag "about", :media => "all" %>
<% if signed_in? %>

<!--Navbar -->
<div class="navbar navbar-default about-header">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<div class="container about-container">
			
			<div class="navbar-collapse collapse navbar-responsive-collapse about-headerright">
				<ul class="nav navbar-nav navbar-right">
					<li><%= link_to "サインアウト", signout_path, method: "delete" %></li>
					<li><%= link_to "お問い合わせ", '#' %></li>
					<!-- <li class="service-name"><%= link_to "Lang Block", '' %></li> -->
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- End navbar -->

<!-- Jumbotron -->
<div class="jumbotron">
	<div class="container">
		<h1>Your Business,<br>To the World</h1>
		<p>ボタンを押して英文ビジネスメールを作成！
			<br>
			<br>
			無料で使える、企業の海外展開支援サービス
		</p>
		<p>
			<%= link_to "メール作成はこちら！", '/mails/index2', class: "btn btn-default btn-lg" %>
		</p>
		<p>
			<%= link_to "ユーザー登録はこちら！", new_user_path, class: "btn btn-default btn-lg" %>
		</p>
		<small>ユーザー登録すると完成した文章を保存しておくことができます。</small>
		<br>
		<small>既にアカウントをお持ちですか? <%= link_to "ログイン", signin_path %></small>
	</div>
</div>
<!-- End Jumbotron -->

<!-- Main Content -->
<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<div class="page-header col-sm-9">
				<h2>あなたのビジネスを世界へ広めよう！</h2>
				<small class="subtitle">ようこそグローバルビジネスの舞台へ</small>
			</div>
			<div class="col-sm-4">
				<h3>
					定型文作成にかかる
					<br>
					時間と手間を省きます。
				</h3>
			</div>
			<div class="col-sm-4">
				<h3>
					１つのページ内で
					<br>
					様々な文章を作成できます。
				</h3>
			</div>
			<div class="col-sm-4">
				<h3>
					ボタンを押して文章を出す
					<br>
					直感的な操作が可能です。
				</h3>
			</div>
		</div>
	</div>
</div>
<!-- End Main Content -->

<!-- Call to Action -->
<hr>
<div class="page-header2">
	<h3>私達はあなたのビジネスが世界へ広まるサポートをします。</h3>
	<p><%= link_to "さっそくメールを作成する", '/mails/index2', class: "btn btn-default btn-lg" %></p>
</div>
<!-- End Call to Action -->

<%= render 'layouts/footer' %>

<% else %>

<!--Navbar -->
<div class="navbar navbar-default">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<div class="container">
			<!-- <div class="service_name">Lang Block</div> -->
			<div class="navbar-collapse collapse navbar-responsive-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><%= link_to "ログイン", signin_path %></li>
					<li><%= link_to "お問い合わせ", '#' %></li>
					<li><%= link_to "Lang Block", '' %></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- End navbar -->

<!-- Jumbotron -->
<div class="jumbotron">
	<div class="container">
		<h1>Your Business,<br>To the World</h1>
		<p>ボタンを押して英文ビジネスメールを作成！
			<br>
			<br>
			無料で使える、企業の海外展開支援サービス
		</p>
		<p>
			<%= link_to "メール作成はこちら！", '/mails/index2', class: "btn btn-default btn-lg" %>
		</p>
		<p>
			<%= link_to "ユーザー登録はこちら！", new_user_path, class: "btn btn-default btn-lg" %>
		</p>
		<small>ユーザー登録すると完成した文章を保存しておくことができます。</small>
		<br>
		<small>既にアカウントをお持ちですか? <%= link_to "ログイン", signin_path %></small>
	</div>
</div>
<!-- End Jumbotron -->

<!-- Main Content -->
<div class="container">
	<div class="row">
		<div>
			<div class="page-header">
				<h2>あなたのビジネスを世界へ広めよう！</h2>
				<small class="subtitle">ようこそグローバルビジネスの舞台へ</small>
			</div>
			<div class="col-sm-4">
				<h3>定型文作成にかかる時間と手間を省きます。</h3>
			</div>
			<div class="col-sm-4">
				<h3>１つのページ内で様々な文章を作成できます。</h3>
			</div>
			<div class="col-sm-4">
				<h3>ボタンを押して文章を出す直感的な操作が可能です。</h3>
			</div>
		</div>
	</div>
</div>
<!-- End Main Content -->

<!-- Call to Action -->
<hr>
<div class="page-header2">
	<h3>私達はあなたのビジネスが世界へ広まるサポートをします。</h3>
	<p><%= link_to "さっそくメールを作成する", '/mails/index2', class: "btn btn-default btn-lg" %></p>
</div>
<!-- End Call to Action -->

<!-- starts footer -->
<footer id="footer">
    <div class="container">
        <div class="row sections">
            <div class="col-sm-4 recent_posts">
                <h3 class="footer_header">
                    お問い合わせ
                </h3>
                <div class="post">
                </div>
                <div class="remodal" data-remodal-id="modal">
                    サンプル
                    <br>
                    <a class="remodal-cancel" href="#">Close</a>
                </div>
                <a type="button" class="btn btn-primary" href="#modal">
                    <h5>お問い合わせフォーム</h5>
                </a>
            </div>
            <div class="col-sm-4 recent_posts">
                <h3 class="footer_header">             
                </h3>
                <div class="post">
                </div>
            </div>
            <div class="col-sm-4">
                <h4>SUPPORT</h4>
				<p><%= link_to "Contact", '#' %></p>
				<p>FAQ</p>
				<p>Terms of Use</p>
				<p>Privacy Policy</p>
            </div>
        </div>
        <div class="row credits">
            <div class="col-md-12">
                <div class="row copyright">
                    <div class="col-md-12">
                        &copy; 2015 Lang Block
                    </div>
                </div>
            </div>            
        </div>
    </div>
</footer>

<% end %>

<%= javascript_include_tag "jquery.remodal.min.js" %>
<%= javascript_include_tag "http://code.jquery.com/jquery-latest.js" %>